settings {
	statusFile = "/tmp/backup.lsyncd.stat",
	logfile = "/dev/stdout",
        nodaemon = true,
	statusInterval = 1,
}

{{$data := json (getenv "LSYNCD_JSON_CONF")}}
{{range $data.syncblock}}
sync {
   default.direct,
   source = "{{.source}}",
   target = "{{.target}}",
   delay = {{getenv "LSYNCD_SYNC_DELAY" (getv "/lsyncd/sync/delay" "1")}},
}
{{end}}
bash = {
    delay = 5,
    maxProcesses = 10,
    onCreate = "chmod -R {{getenv "LSYNCD_SYNC_TARGET_OWNERSHIP" (getv "/lsyncd/sync/target/ownership" "775")}} ^targetPathname/ && chown -hR {{getenv "LSYNCD_SYNC_TARGET_OWNER_AND_GROUP" (getv "/lsyncd/sync/target/ownerandgroup" "root:root")}} ^targetPathname/",
    onModify = "chmod -R {{getenv "LSYNCD_SYNC_TARGET_OWNERSHIP" (getv "/lsyncd/sync/target/ownership" "775")}} ^targetPathname/ && chown -hR {{getenv "LSYNCD_SYNC_TARGET_OWNER_AND_GROUP" (getv "/lsyncd/sync/target/ownerandgroup" "root:root")}} ^targetPathname/",
    onStartup = "chmod -R {{getenv "LSYNCD_SYNC_TARGET_OWNERSHIP" (getv "/lsyncd/sync/target/ownership" "775")}} ^targetPathname/ && chown -hR {{getenv "LSYNCD_SYNC_TARGET_OWNER_AND_GROUP" (getv "/lsyncd/sync/target/ownerandgroup" "root:root")}} ^targetPathname/",
}
